body {
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 80px;
  color: #66BFBF;

}

.navbar{
  position: absolute;
  right: 70px;
  top: 30px;
  padding: 20px 10px;
  font-family: "Montserrat";
  color: #222831;

}

.navbar:hover {
  background: #E4F9F5;
  background-image: -webkit-linear-gradient(top, #30e3cb, #E4F9F5);
  background-image: -moz-linear-gradient(top, #30e3cb, #E4F9F5);
  background-image: -ms-linear-gradient(top, #30e3cb, #E4F9F5);
  background-image: -o-linear-gradient(top, #30e3cb, #E4F9F5);
  background-image: linear-gradient(to bottom, #30e3cb, #E4F9F5);
  text-decoration: none;
}

.programer {
  font-size: 25px;
  color: #66BFBF;
}
.intro img {
  height: 200px;
  width: 200px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  padding-bottom: 10px;
  font-size: 30px;

}

h3 {
  font-family: 'Montserrat', sans-serif;
line-height: 1.8;
font-size: 25px;
color: #11999E;


}

hr {
  border: dotted #4cbbb9 6px;
  border-bottom: none;
  width: 4%;
  margin: 70px auto;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;

}

.skill-row {
margin: 50px auto 50px auto;
text-align: inherit;
line-height: 1.5;
}

.Pro {
  text-decoration: underline;
}

.top-cloud {
position: absolute;
right: 450px;
top: 30px;

}

.bottom-cloud {
  position: absolute;
  left: 280px;
  bottom: 300px;

}
.heading {
width: 68%;
margin: auto;
line-height: 2;
}
.content {
  width: 68%;
  margin: auto;
  line-height: 2;

}


.html-icon {
  width: 10%;
  margin-left: 20px;
}
.js-icon{
  margin-left: 20px;
}



.photoshop {
  margin-left: 30px;
}
.illustrator {
  margin-left: 30px;
}

.middle-container{
  margin: 100px 0px;
}

.bottom-container{
background-color: #66BFBF;
padding: 50px 0 20px;
margin-top: 40px;
}

a {
  color: #30475e;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.intro {
  width: 30%;
  margin: auto;
  line-height: 2;

}

.contact-message{
  width: 50%;
  margin: 40px auto 40px;
  line-height: 2;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
